@charset "ISO-8859-1";


table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

.page-link {
    display: inline-block;
    margin-right: 10px; /* Adjust this value to add spacing between the links */
  }