.popup-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup-form input[type="text"], .popup-form input[type="number"] {
	margin-bottom: 10px;
}

.popup-form button {
	margin-top: 10px;
}