@charset "ISO-8859-1";

body {
	background-color: #f8f9fa;
}

.container {
	max-width: 400px;
	margin-top: 100px;
}

.logo {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

.form-label {
	font-weight: bold;
}